body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

.palettes-grid {
  max-width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 20px;
}
