#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}

#hero h1 {
  max-width: 16ch;
}

#hero p {
  font-size: 1.25rem;
}

#hero .start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#hero .start p {
  max-width: 400px;
  font-weight: 300;
  flex-shrink: 0;
}

.hero-stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.hero-image {
  aspect-ratio: 920/522;
  width: 920px;
  max-width: 100%;
  padding-right: 1rem;
  position: relative;
}

#hero .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#hero .stats li {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-bottom: solid 2px currentColor;
  line-height: 2rem;
  padding: 2rem 0;
}

#hero .stats li h2 span.number {
  color: inherit;
}

.explore,
.arrow,
.star {
  position: absolute;
}
.explore {
  top: 0;
  right: 7%;
  transform: translateY(-50%);
}

.arrow {
  left: 0;
  bottom: 0;
  transform: translateY(60%);
}

.star {
  top: 18%;
  right: -5%;
}

@media screen and (max-width: 1280px) {
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  #hero .container {
    flex-direction: column;
    align-items: center;
  }

  #hero h1 {
    max-width: 16ch;
  }
  #hero p {
    font-size: 1.25rem;
  }

  #heto .start {
    max-width: 400px;
    font-weight: 300;
  }

  #hero .hero-stats .stats {
    gap: 2rem;
    flex-direction: row;
  }
  #hero .hero-stats .stats li {
    min-width: auto;
    border-bottom: none;
  }
  .star {
    display: none;
  }
}
