:root {
  --primary-color: #ffdf00;
  --primary-color-val: 255, 223, 0;
  --primary-color-hover: rgba(255, 223, 0, 0.08);
  --secondary-color: 27, 27, 27;
  --base-color: #151515;
  --neutral-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--neutral-color);
  background-color: var(--base-color);
  font-weight: 400;
  font-family: "CabinetGrotesk-Variable", "Inter", "Roboto", "Arial",
    "sans-serif";
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}

main span {
  color: var(--primary-color);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-weight: 800;
  background-color: var(--primary-color);
  color: var(--base-color);
  border-radius: 8px;
  padding: 1.125rem 2rem;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--primary-color-hover);
  color: var(--neutral-color);
}

.btn-base {
  background-color: var(--base-color);
  color: var(--neutral-color);
}

.btn-base:hover {
  background-color: rgb(var(--secondary-color));
}

.btn-small {
  padding: 0.375rem 1rem;
  border-radius: 50px;
  font-weight: 500;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 2.75rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 400;
  background-color: var(--primary-color-hover);
  border-radius: 50px;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
  color: var(--primary-color);
}

h4::before {
  content: " ";
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1rem;
  display: inline-block;
  border-radius: 50%;
}

h5 {
  font-size: 1.5rem;
  font-weight: 800;
}

/* tabs */
.tabs {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.tab {
  border: 1px solid transparent;
  padding-bottom: 1rem;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  word-break: keep-all;
  flex-shrink: 0;
}

.tab-active,
.tab:hover {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

.tab-content {
  display: flex;
  width: 100%;
}

.tab-pane {
  /* display: none; */
  display: block;
  width: 100%;
}
/* .tab-pane.active {
  display: block;
} */

@media screen and (max-width: 768px) {
  .tabs {
    gap: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  h1 {
    font-size: 4rem;
    line-height: 3.75rem;
  }
  h2 {
    font-size: 2.75rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
