#sponsors {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 3rem 0;
  padding: 6rem 0;
  position: relative;
}

.benner {
  width: 100%;
}
.banner-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0;
}

.banner-container img {
  max-width: 100%;
  height: auto;
}

#banner-1 {
  background-color: var(--primary-color);
  transform: rotateZ(-3deg);
}
#banner-1 img {
  filter: invert(1);
}

#banner-1 .banner-container {
  animation: tape-loop 15s linear infinite reverse;
}
#banner-2 .banner-container {
  animation: tape-loop 15s linear infinite;
}
#banner-2 {
  position: absolute;
  top: 30%;
  left: 0;
  transform: rotateZ(3deg);
  z-index: 4;
  background-color: rgba(var(--secondary-color), 0.15);
  backdrop-filter: blur(8px);
}

@keyframes tape-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
