.palette {
  width: 12rem;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.selected {
  width: 100%;
  height: 300px;
}
.palette-gradient {
  width: 100%;
  height: 150px;
}

.palette-caption {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #555;
}
