<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
  </head>
  <body>
    <main>
      <h1>Hello from the Backend ^^</h1>
      <a href="/about">take me to about me</a>
      <form action="/note" method="post">
        <input type="number" name="exam" max="20" min="0" required />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
